.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout {
    display: flex;
    padding: 20px;
    height: max-content;
    flex-direction: row;
}

@media (max-width: 500px) {

    .checkout__left > img:first-child {
        display: none;
    }

    .mobile__checkout {
        flex-direction: column-reverse;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    .checkout{
        position: relative;
        top: 100px;
        padding-top: 0;
    }

}

